/* universal selectoe */
*{ 
      padding:0;
        margin:0;
          box-sizing:border-box
          }
          body{
            font-family: Arial, Helvetica, sans-serif;
              background-color: #F0F8FF;
              }
              header{
              background-color:#000;
              color: darkblue;
              padding:10px 20px;
              text-align: center;
              }
              header h1{
                margin-bottom:10px;
                }
                nav a {
                  color: White;
                    text-decoration:none;
                      margin:0 10px;
                      }
                      nav a :hover {
                        color: yellow;
                          text-decoration:underline;
                          }
                          main {
                            display:flex;
                              flex-wrap:wrap;
                                justify-content: center;
                                  gap:20px;
                                    padding:20px;
                                      
                                      }
}